@model List<CorruptionRepro.Controllers.HomeController.TestInfo>
@{
    Layout = null;
    var passed = Model.All(t => t.Passed);
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Debug</title>
        <style>
            body {
                font-size: 12px;
                font-family: Arial;
            }
            td, th {
                padding: 2px 6px;
            }
            td:nth-child(1), td:nth-child(2) {
                font-family: Consolas;
            }
            table tr:nth-child(odd) {
                background: #eeeeee;
            }
            td.failed, .failed td:last-child {
                background: #FFBBBB;
            }
            td.passed, .passed td:last-child {
                background: #BBFFBB;
            }
            b.failed {
                color: #FF0000;
            }
            b.passed {
                color: #00FF00;
            }
        </style> 
    </head>
<body>
    <div>Bitness: <b>@(Environment.Is64BitProcess ? 64 : 32)-bit</b></div>
    <div>Test Status: <b class="@(passed ? "passed" : "failed")">@(passed ? "Passed" : "Failed")</b></div>
    <table>
        <thead>
        <tr>
            <th colspan="2">Values</th>
            <th colspan="4">Durations</th>
        </tr>
        <tr>
            <th>Set</th>
            <th>Fetched</th>
            <th>Passed In</th>
            <th>Local Cache Set</th>
            <th>With Priority</th>
            <th>RawSet</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var test in Model)
            {
                <tr class="@(test.Passed ? "passed" : "failed")">
                    <td>@test.Inserted</td>
                    <td>@test.Fetched</td>
                    <td>@test.PassedDurationSeconds</td>
                    <td class="@(test.LocalCacheSetDuration == test.PassedDurationSeconds ? "passed" : "failed")">@test.LocalCacheSetDuration</td>
                    <td class="@(test.LocalCacheSetWithPriorityDuration == test.PassedDurationSeconds ? "passed" : "failed")">@test.LocalCacheSetWithPriorityDuration</td>
                    <td>@(test.RawSetDuration?.ToString() ?? "(null)")</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>